@import 'tailwindcss';
@import 'tailwind-scrollbar-hide/v4';
@import './typography.css';
@import './tokens.css';

@font-face {
  font-family: "Heme Pro";
  src: url("../../public/fonts/Heme-Pro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Heme Pro";
}

/* ========= LAYOUT ========= */
.layout {
  width: 100%;
  margin-inline: auto;
  max-width: 1440px;
  padding-inline: 20px;
}

/* Tablet */
@media (min-width: 769px) {
  .layout {
    padding-inline: 40px;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .layout.layout--lg { padding-inline: 115px; }
  .layout.layout--md { padding-inline: 100px; }
  .layout.layout--sm { padding-inline: 80px; }
}

/* ========= HEADER ========= */
.header-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 88px;
  padding-inline: 20px;
}

.header-left,
.header-right {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.header-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 0 8px;
  flex: 1;
  min-width: 0;
  overflow: hidden; 
}

/* Tablet */
@media (min-width: 769px) {
  .header-row {
    padding-inline: 115px;
  }
  .header-center {
    gap: 24px;
    margin: 0;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .header-row {
    padding-inline: 200px;
  }
  .header-center {
    margin-inline: auto;
    flex: initial;
    min-width: auto;
  }
}

  /* =========> PADDING PAGE <========= */
.page-p-hero {
  padding-top: 6rem;
}

/* Tablet */
@media (min-width: 769px) {
  .page-p-hero {
    padding-top: 8rem; 
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .page-p-hero {
    padding-top: 7rem; 
  }
}

@layer components {
      /* =========> BACKGROUND <========= */
    .bg-primary {
    background-color: var(--color-primary);
    }

      /* =========> BODER <========= */
    .border-light {
      border-color: var(--color-primary-100);
    }
    .border-medium {
      border-color: var(--color-primary-200);
    }
    .border-dark {
      border-color: var(--color-primary-900);
    }

    /* =========> TEXT <========= */
    .text-primary {
        color: var(--color-primary-900);
    }
    .hover-text-primary:hover {
      color: var(--color-primary-600)
    }
    .text-secondary {
        color: var(--color-primary-500);
    }
    .text-tertiary {
        color: var(--color-primary-400);
    }
    .text-disabled {
        color: var(--color-primary-300);
    }
  
    /* =========> BUTTON <========= */
  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transform: translateZ(0);
  }

    /* ========= SIZE ========= */
  .btn-sm {
    padding: 8px 16px;
    --btn-icon-size: 12px;
    --btn-font-mobile: var(--mobile-button-small);
    --btn-font-tablet: var(--tablet-button-small);
    --btn-font-desktop: var(--desktop-button-small);
  }

  .btn-md { 
    padding: 12px 24px;
    --btn-icon-size: 16px;
    --btn-font-mobile: var(--mobile-button-medium);
    --btn-font-tablet: var(--tablet-button-medium);
    --btn-font-desktop: var(--desktop-button-medium);
  }

  .btn-lg { 
    padding: 16px 32px;
    --btn-icon-size: 20px;
    --btn-font-mobile: var(--mobile-button-large);
    --btn-font-tablet: var(--tablet-button-large);
    --btn-font-desktop: var(--desktop-button-large);
  }

  .btn-xl { 
    padding: 20px 40px;
    --btn-icon-size: 24px;
    --btn-font-mobile: var(--mobile-button-Extra-large);
    --btn-font-tablet: var(--tablet-button-Extra-large);
    --btn-font-desktop: var(--desktop-button-Extra-large);
  }

    /* ========= BUTTON RESPONSIVE ========= */
  .btn {
    font-size: var(--btn-font-mobile);
  }

  @media (min-width: 768px) {
    .btn {
      font-size: var(--btn-font-tablet);
    }
  }

  @media (min-width: 1024px) {
    .btn {
      font-size: var(--btn-font-desktop);
    }
  }

  /* ========= BUTTON VARIANTS ========= */
  .btn-fill {
    background: var(--btn-primary-bg);
    color: var(--btn-primary-text);
  }

  .btn-fill:hover {
    background: var(--btn-primary-hover);
  }

  .btn-outline {
    background: transparent;
    border: 1px solid var(--btn-secondary-border);
    color: var(--btn-secondary-text);
  }

  .btn-outline:hover {
    border: 1px solid var(--btn-secondary-hover);
  }

  .btn-text {
    background: transparent;
    color: var(--btn-tertiary-text);
  }

  .btn-text:hover {
    background: var(--btn-tertiary-hover);
  }

  .btn-ghost {
    background: var(--color-primary-200);
    color: var(--color-primary-900);
  }

  .btn-ghost:hover {
    background: var(--color-primary-300);
  }

  .btn-accent {
    background: var(--btn-accent-bg);
    color: var(--btn-accent-text);
  }

  .btn-accent:hover {
    background: var(--btn-accent-hover);
  }

    /* ========= RADIUS ========= */
  .radius-4 { border-radius: 4px; }
  .radius-8 { border-radius: 8px; }
  .radius-16 { border-radius: 16px; }
  .radius-32 { border-radius: 32px; }

    /* ========= GAP ========= */
  .gap-sm { gap: 32px; }
  .gap-md { gap: 48px; }
  .gap-lg { gap: 64px; }
  .gap-xl { gap: 80px; }
  
}
